// Place all the styles related to the TodoItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.c-checkbox {
  $size: 18px;
  $checkColor: #9acd32;

  position: relative;
  width: $size;
  height: $size;
  margin-top: 7px;
  margin-right: 4px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: $size;
  transition: .3s;

  &--checked {
    background-color: $checkColor;
    border-color: $checkColor;
  }

  &::before {
    position: absolute;
    top: 7px;
    left: 2px;
    width: 6px;
    content: '';
    border: 1.5px solid #fff;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    top: 7px;
    left: 5px;
    width: 10px;
    content: '';
    border: 1.5px solid #fff;
    transform: rotate(-45deg);
  }

  &__input {
    display: none;
  }
}

.p-todo-item {
  display: flex;
  align-items: flex-start;
  list-style: none;

  &__details {
    min-height: 20px;

    &[open] {
      .p-todo-item__name--summary::before {
        transform: rotate(0deg);
      }

      .p-todo-item__body {
        opacity: 1;
      }
    }
  }

  &__name {
    display: flex;
    padding: 2px 8px 2px 4px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 3px;
    outline: none;
    transition: .3s;

    &:hover {
      background-color: #eee;
    }

    &--summary::before {
      margin-right: 4px;
      content: '▼';
      transition: .3s;
      transform: rotate(-90deg);
    }
  }

  &__body {
    padding-left: 28px;
    font-size: 16px;
    opacity: 0;
    transition: .3s;
  }
}
