<div class="c-toggle-switch__label">{{label}}</div>
<span class="c-toggle-switch__off-label">{{offLabel}}</span>
<div class="c-toggle-switch__switch"></div>
<span class="c-toggle-switch__on-label">{{onLabel}}</span>
