%nav#header.l-header
  = link_to root_path, class: "l-header__brand" do
    Ember-rails TODO App
  .l-header__actions
    - if user_signed_in?
      = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-default'
